@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body
{
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
    font-family: 'Kalam', cursive;
}

/* style pop up */

#pop-up
{
    position: fixed;
    align-self: center;
    background-color: #2c3e50;
    color:#ecf0f1;
    padding:50px;
    border-radius: 15px;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.17);
}

.pop-up-title
{
    text-align: center;
    font-size: 3rem;
}

.pop-up-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pop-up-text
{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 2.4rem;
}

.pop-up-btn
{
    width: 40%;
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
    border: 4px solid;
    border-radius: 8px;
    font-size: 2rem;
}

#play-1p:hover,
#play-2p:hover
{
    color: #ecf0f1;
    border-color: #ecf0f1;
}

#play-1p
{
    color: #e67e22;
    border-color: #e67e22;
}

#play-1p:hover
{
    background-color: #e67e22;
}

#play-2p
{
    color: #3498db;
    border-color: #3498db;
}

#play-2p:hover
{
    background-color: #3498db;
}

/* end style pop up */

/* style for the grid */

.game-grid
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

[id^=case]
{
    border: 4px solid #bdc3c7;
    height: 33.3333%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol
{
    width: 40%;
}

/* end style for the grid */